@{
  Layout = "_Layout";
}

<div class="container">
  <div class="jumbotron text-center">
    <h1>Welcome to Irvine Animal Shelter</h1>
  </div>
  <p>@Html.ActionLink("See all animals", "Index", "Animals")</p>
</div>